<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <title>#title#</title>
  </head>

  <body>
    <h1>#title#</h1>
    <p>#text#</p>

    <div id="template-test">

      <!-- POST -->
      <form id="post-form" action="http://localhost:3000/mockData" method="post">
        <div id="form-group">
          <label for="id" id="id-label"> ID: </label>
          <input type="text" id="id" name="id" placeholder="User ID" required /><br>
        </div>

        <div id="form-group">
          <label for="name" id="name-label"> Name: </label>
          <input type="text" id="name" name="name" placeholder="First Name" required /><br>
        </div>

        <div id="form-group">
          <label for="pet" id="pet-label"> Pet: </label>
          <input type="text" id="pet" name="pet" placeholder="Pet's Name" required /><br>
        </div>
        <input type="submit" value="Submit" />
      </form>

      <div>
        <!-- PATCH -->
        <button action="http://localhost:3000/mockData" method="patch">Edit (PATCH)</button>
      </div>

      <div>
        <!-- DELETE -->
        <button action="http://localhost:3000/mockData" method="delete">DELETE</button>
      </div>
    </div>
  </body>
</html>