<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <title>Home</title>
</head>
<body>
  <h1>Home</h1>
  <ul>
    <li><a href="/mockData">mockData</a></li>
    <li>Anime - non-functional</li>
    <li>MTG - non-functional</li>
  </ul>
</body>
</html>